<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>FC Mobile - Eyad Store</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>
<div class="logo">⚽ Eyad Store</div>
</header>


<section class="hero">

<h1>⚽ EA SPORTS FC Mobile</h1>

<p>
لعبة كرة قدم مليئة بالمباريات والتحديات وتكوين فريقك الخاص.
</p>

</section>


<section class="cards">

<div class="card">

<h3>🎮 معلومات اللعبة</h3>

<p>
النوع: كرة قدم ورياضة
</p>

<p>
المنصة: Android / iOS
</p>

<p>
التقييم: ⭐⭐⭐⭐⭐
</p>

<a class="btn" href="https://www.ea.com/games/ea-sports-fc/fc-mobile">
الموقع الرسمي
</a>

</div>

</section>


<footer>
Eyad Store © 2026
</footer>


</body>
</html>
