<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
<meta charset="UTF-8">
<title>Eyad Store Games</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
<h1>🎮 Eyad Store</h1>
</header>


<h2 class="section-title">🔥 جميع الألعاب</h2>


<section class="cards">


<div class="card">
<h3>🏎️ Asphalt Legends Unite</h3>
<p>سباقات سيارات سريعة.</p>
<a class="btn" href="/asphalt">فتح اللعبة</a>
</div>


<div class="card">
<h3>🚗 GTA V</h3>
<p>عالم مفتوح ومغامرات.</p>
<a class="btn" href="/gta5">فتح اللعبة</a>
</div>


<div class="card">
<h3>⚽ EA SPORTS FC Mobile</h3>
<p>كرة قدم وتحديات.</p>
<a class="btn" href="/fcmobile">فتح اللعبة</a>
</div>


<div class="card">
<h3>🧩 Brain Test</h3>
<p>ألغاز واختبارات ذكاء.</p>
<a class="btn" href="/braintest">فتح اللعبة</a>
</div>


<div class="card">
<h3>👻 Granny</h3>
<p>رعب وهروب.</p>
<a class="btn" href="/granny">فتح اللعبة</a>
</div>


<div class="card">
<h3>🌎 Minecraft</h3>
<p>بناء واستكشاف.</p>
<a class="btn" href="/minecraft">فتح اللعبة</a>
</div>


</section>


<footer>
Eyad Store © 2026
</footer>


</body>
</html>
