<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">
<title>GTA V | Eyad Store</title>
<style>
body{
background:#111827;
color:white;
font-family:Arial;
text-align:center;
padding:30px;
}
img{
width:350px;
border-radius:15px;
}
a{
display:inline-block;
margin-top:20px;
padding:15px 30px;
background:#00ff99;
color:black;
text-decoration:none;
border-radius:10px;
font-weight:bold;
}
</style>
</head>
<body>

<h1>🎮 GTA V</h1>

<img src="https://upload.wikimedia.org/wikipedia/en/a/a5/Grand_Theft_Auto_V.png" alt="GTA V">

<p>
Grand Theft Auto V هي لعبة عالم مفتوح من تطوير Rockstar Games.
</p>

<a href="https://www.rockstargames.com/gta-v" target="_blank">
الموقع الرسمي
</a>

</body>
</html>
