<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">
<title>ألعاب الرعب - Eyad Store</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
<div class="logo">👻 Eyad Store</div>
</header>

<h1 class="section-title">👻 ألعاب الرعب</h1>

<section class="cards">

<div class="card">
<h3>👻 Granny</h3>
<p>لعبة رعب وهروب.</p>
</div>

<div class="card">
<h3>🏚️ The Ghost</h3>
<p>مغامرات ورعب داخل أماكن مخيفة.</p>
</div>

<div class="card">
<h3>🌑 Dead by Daylight</h3>
<p>رعب وتحديات أونلاين.</p>
</div>

</section>

</body>
</html>
