<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">
<title>العالم المفتوح - Eyad Store</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
<div class="logo">🚗 Eyad Store</div>
</header>

<h1 class="section-title">🚗 ألعاب العالم المفتوح</h1>

<section class="cards">

<div class="card">
<h3>🚗 GTA V</h3>
<p>عالم مفتوح ومغامرات.</p>
</div>

<div class="card">
<h3>🏙️ GTA San Andreas</h3>
<p>مدينة كبيرة ومهام ممتعة.</p>
</div>

<div class="card">
<h3>🌎 Minecraft</h3>
<p>استكشاف وبناء في عالم مفتوح.</p>
</div>

</section>

</body>
</html>
